.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8; }

.img-circle {
  border-radius: 50%; }

.header-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
  border-top: 4px solid #008ed6; }

#showcase {
  position: relative;
  background: url("../img/background.jpeg");
  background-repeat: no-repeat;
  min-height: 800px; }
  #showcase .primary-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.fa {
  font-size: 30px; }

.fa-clickable:hover {
  cursor: pointer !important; }

.timeline {
  width: 5px;
  height: 1400px;
  padding-top: 50px;
  background: -webkit-linear-gradient(rgba(0, 142, 214, 0), #008ed6, rgba(0, 142, 214, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 142, 214, 0), #008ed6, rgba(0, 142, 214, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 142, 214, 0), #008ed6, rgba(0, 142, 214, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 142, 214, 0), #008ed6, rgba(0, 142, 214, 0)); }

.timeline-content {
  width: 500px; }

.popover {
  max-width: 30%;
  min-width: 200px; }

.timeline-content-header {
  font-size: 20px; }

.timeline-content-subheader {
  font-size: 12px; }

.timeline-item {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-left: -23px;
  vertical-align: middle;
  z-index: 5;
  margin-top: 150px; }

.logo {
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important; }

#motabi {
  background: #fff url("../img/motabi.png"); }

#nokia {
  background: #fff url("../img/nokia.png"); }

#vsoft {
  background: #fff url("../img/vsoft.png"); }

#jagiellonianUniversity {
  background: #fff url("../img/jagiellonianUniversity.png"); }

.timeline-icon {
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  top: 10px; }

.timeline-icon > i {
  color: white; }

.popover {
  max-width: 30%; }

.timeline-content-header {
  font-size: 20px;
  border-bottom: 1px solid #008ed6;
  margin-bottom: 5px; }

.section-primary {
  background: rgba(0, 142, 214, 0.5); }

@media (max-width: 768px) {
  #showcase {
    min-height: 1550px; }
  .timeline-item {
    margin-top: 300px; }
  .popover {
    max-width: 40%; }
  .img-circle {
    height: 250px;
    width: 250px; } }
